In [1]:
import pandas as pd 
import os
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

In [152]:
alco = pd.read_csv("./data/cardio_alco.csv")
base1 = pd.read_csv("./data/cardio_base.csv", index_col = 'id')
covid1 = pd.read_csv("./data/covid_data.csv")
# covid_cols = 'location', 'date', 'new_cases', 'new_deaths', 'population','aged_65_older_percent', 'gdp_per_capita',
#             'hospital_beds_per_thousand'



alco[["id", "alco"]] = alco['id;alco'].str.split(";", expand = True)
alco.drop(columns = ['id;alco'], inplace = True)
alco['id'] = alco['id'].astype(int)
alco['alco'] = alco['alco'].astype(int)
alco.set_index('id', inplace=True)

base = base1.join(alco)
base['alco'].fillna('None', inplace=True)
base['age'] = base['age']/365
# base['alco'] = base['alco'].astype(type(np.nan))

covid1['date'] = pd.to_datetime(covid1['date'])
world_filter = covid1['location'] == "World"
covid = covid1[~world_filter] #dataframe for all the induvidual countries
covid_world = covid[world_filter] #cummulated data for the world, eg, total new_cases on a date recorded in all the countries

C:\Users\BenjaminAtadana\AppData\Local\Temp\ipykernel_19604\1599784675.py:23: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  covid_world = covid[world_filter] #cummulated data for the world, eg, total new_cases on a date recorded in all the countries

In [134]:
"""
alco_cols = ['id', 'alco']

id col was set as the index
base_cols = ['age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo', 'cholesterol',
       'smoke']

covid_cols = ['location', 'date', 'new_cases', 'new_deaths', 'population',
       'aged_65_older_percent', 'gdp_per_capita',
       'hospital_beds_per_thousand']
"""

"\nalco_cols = ['id', 'alco']\n\nid col was set as the index\nbase_cols = ['age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo', 'cholesterol',\n       'smoke']\n\ncovid_cols = ['location', 'date', 'new_cases', 'new_deaths', 'population',\n       'aged_65_older_percent', 'gdp_per_capita',\n       'hospital_beds_per_thousand']\n"

In [218]:
# smoke_group = base.groupby('gender')
# smoke_group.get_group(2)['smoke'].value_counts()

# base1.sort_values(by='height', ascending=False)[0:700]['height'].value_counts()

# std = base1['height'].std(skipna=True)
# avg = base1['height'].mean()
# hstd2 = avg+(2*std)
# lstd2 = avg-(2*std)

# f = base['height'] > hstd2 #1439
# f2 = base['height'] < lstd2 #896
# f.value_counts()

# f = base['alco'] != "None"
# df1 = base[f]
# f3 = df1['age']>50
# f3.value_counts()
# # df2 = df1.groupby('alco')
# # f2 = df2.get_group(1)['age']>50
# # f2.value_counts()

age
True     39497
False    17406
Name: count, dtype: int64

In [ ]:
help(base['height'].std())

In [ ]:
mean high bp non smokers = 128.86143096614498
mean high bp smpkers = 128.36051223861242

chol_smokers = 1.3895282865942615
1.3646817377136502

weigh_non_smoektrs = 73.90235152198775
77.34435078618901

hbp_women =128.1392488469141
130.07887208827134

women_smokers = 813
men_smokers = 5356

# alco['alco'].value_counts()

In [131]:
filt = (base['age']/365) > 50 # 48572
(base[filt]['alco'] == 1).value_counts()

alco
False    46615
True      1957
Name: count, dtype: int64

In [ ]:
filt4 = covid['hospital_beds_per_thousand'] >= 5
filt5 = covid[filt4]['gdp_per_capita'] > 10000
print("filt4 array")
print(filt4.value_counts())
print("filt5 array")
print(filt5.value_counts())
# print("Probabilty:" , (2997/3499)*100) # values obtained from output earlier. I COULF BE WRONG!!

In [128]:
location_df = covid.groupby(['location'])

location_df.get_group('Italy')
it_cum = np.array(location_df.get_group('Italy')['new_cases'].cumsum())
ger_cum = np.array(location_df.get_group('Germany')['new_cases'].cumsum())

np.where((it_cum - ger_cum)==1017)

np.array(location_df.get_group('Germany').sort_values(by = 'date', ascending = True)['date'])[61]

numpy.datetime64('2020-03-01T00:00:00.000000000')

In [219]:
(location_df['new_deaths'].sum()/1000000).sort_values(ascending = False)

location
United States                      0.112006
United Kingdom                     0.040883
Brazil                             0.038406
Italy                              0.034043
France                             0.029296
                                     ...
Seychelles                         0.000000
Bhutan                             0.000000
Mongolia                           0.000000
Bonaire Sint Eustatius and Saba    0.000000
Gibraltar                          0.000000
Name: new_deaths, Length: 211, dtype: float64

In [231]:

filt4 = covid['hospital_beds_per_thousand'] >= 5 # 3499 True
filt3 = covid[filt4]['gdp_per_capita'] > 10000 # 2997 True
print(filt4.value_counts())
print(filt3.value_counts())
#thus
2997/3499

hospital_beds_per_thousand
False    19420
True      3499
Name: count, dtype: int64
gdp_per_capita
True     2997
False     502
Name: count, dtype: int64

0.8565304372677908

In [129]:
date_df = covid1.groupby('date')
date = '2020-06-01'
country = 'Germany'
inquiry = 'new_cases'
modified_date_df = date_df.get_group(date)
modified_date_df.set_index('location', inplace=True)
modified_date_df[inquiry].apply(lambda x: (x/modified_date_df.loc["World", inquiry]))#[country]

# %matplotlib inline
# a.plot()

location
Afghanistan       0.006298
Albania           0.000139
Algeria           0.001176
Andorra           0.000000
Angola            0.000019
                    ...
Western Sahara    0.000000
Yemen             0.000120
Zambia            0.000000
Zimbabwe          0.000037
World             1.000000
Name: new_cases, Length: 211, dtype: float64

In [130]:
#  FINDING PERCENTAGE OF COUNRTY DEATHS IN A DATE RANGE
filt = (covid1['date'] >= pd.to_datetime('2020-03-10')) & (covid1['date'] < pd.to_datetime('2020-06-01'))
modified_covid = covid1[filt]
location_modified_covid = modified_covid.groupby('location')
country = 'Afghanistan'
inquiry = 'new_cases'
country_cases = location_modified_covid.get_group(country)[inquiry].sum()
world_cases = location_modified_covid.get_group("World")[inquiry].sum()

country_cases/world_cases

0.002453827868393984

In [338]:
min = base['age'].min()
max = base['age'].max()
min, max

(10798, 23713)

In [175]:
spearman_corr = base1.corr(method='spearman')
spearman_corr

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,smoke
age,1.000000,-0.020176,-0.082292,0.061559,0.219087,0.156700,0.140113,-0.047471
gender,-0.020176,1.000000,0.533805,0.172480,0.063174,0.066374,-0.035730,0.338135
height,-0.082292,0.533805,1.000000,0.313569,0.019381,0.030534,-0.058940,0.197632
weight,0.061559,0.172480,0.313569,1.000000,0.277749,0.254420,0.137908,0.071676
ap_hi,0.219087,0.063174,0.019381,0.277749,1.000000,0.735436,0.208722,0.028929
ap_lo,0.156700,0.066374,0.030534,0.254420,0.735436,1.000000,0.167401,0.026172
cholesterol,0.140113,-0.035730,-0.058940,0.137908,0.208722,0.167401,1.000000,0.015220
smoke,-0.047471,0.338135,0.197632,0.071676,0.028929,0.026172,0.015220,1.000000

In [132]:
import pandas as pd

# Sample DataFrames
data1 = {'A': [1, 2, 3], 'B': [4, 5, 6]}
data2 = {'C': [7, 8], 'D': [10, 11]}
index_values = ['X', 'Y', 'Z']

df1 = pd.DataFrame(data1, index=index_values)
df2 = pd.DataFrame(data2, index=['X', 'Y'])

# Merge DataFrames based on index
merged_df = base1.merge(alco, left_index=True, right_index=True, how='outer')
filt = (merged_df['age']/365) > 50 # 48572
(merged_df[filt]['alco'] == 1).value_counts()
# alco
# False    48572
# Name: count, dtype: int64

alco
False    46615
True      1957
Name: count, dtype: int64

In [435]:
mod_merged_df = merged_df.groupby(by='smoke')
mod_merged_df.get_group(0.0)['ap_hi'].mean()

128.86143096614498

In [ ]:
mean high bp non smokers = 128.86143096614498
mean high bp smpkers = 128.36051223861242

chol_smokers = 1.3895282865942615
1.3646817377136502

weigh_non_smoektrs = 73.90235152198775
77.34435078618901

hbp_women =128.1392488469141
130.07887208827134

# alco['alco'].value_counts()

In [232]:
a = [1,2,3]
for i, e in enumerate(a):
    print(i)

0
1
2