In [329]:
import pandas as pd 
import os
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

In [459]:
alco = pd.read_csv("./data/cardio_alco.csv")
base = pd.read_csv("./data/cardio_base.csv", index_col = 'id')
covid = pd.read_csv("./data/covid_data.csv")
alco[["id", "alco"]] = alco['id;alco'].str.split(";", expand = True)
alco.drop(columns = ['id;alco'], inplace = True)
alco['id'] = alco['id'].astype(float)
alco.set_index('id')

        alco
id
44.0       0
45.0       0
46.0       0
47.0       0
49.0       0
...      ...
99949.0    0
99950.0    0
99951.0    0
99952.0    0
99954.0    0

[56903 rows x 1 columns]

In [483]:
filt4 = covid['hospital_beds_per_thousand'] >= 5
filt5 = covid[filt4]['gdp_per_capita'] > 10000
print("filt4 array")
print(filt4.value_counts())
print("filt5 array")
print(filt5.value_counts())
print("Probabilty:" , (2997/3499)*100) # values obtained from output earlier. I COULF BE WRONG!!

filt4 array
hospital_beds_per_thousand
False    19583
True      3499
Name: count, dtype: int64
filt5 array
gdp_per_capita
True     2997
False     502
Name: count, dtype: int64
Probabilty: 85.65304372677907

In [472]:
filt5.value_counts()

gdp_per_capita
True     2997
False     502
Name: count, dtype: int64

In [467]:
2997/3499

0.8565304372677908

In [330]:
covid['date'] = pd.to_datetime(covid['date'])
location_df = covid.groupby(by='location')

In [455]:
(location_df['new_deaths'].sum()/1000000).sort_values(ascending = False)

location
World                              0.411195
United States                      0.112006
United Kingdom                     0.040883
Brazil                             0.038406
Italy                              0.034043
                                     ...
Bonaire Sint Eustatius and Saba    0.000000
Seychelles                         0.000000
Bhutan                             0.000000
Saint Kitts and Nevis              0.000000
Dominica                           0.000000
Name: new_deaths, Length: 212, dtype: float64

In [446]:
location_df.get_group('Italy')
it_cum = np.array(location_df.get_group('Italy')['new_cases'].cumsum())
ger_cum = np.array(location_df.get_group('Germany')['new_cases'].cumsum())

np.where((it_cum - ger_cum)==1017)

(array([61], dtype=int64),)

In [452]:
np.array(location_df.get_group('Germany').sort_values(by = 'date', ascending = True)['date'])[61]

numpy.datetime64('2020-03-01T00:00:00.000000000')

In [331]:
date = '2020-06-01'
country = 'Germany'
inquiry = 'new_cases'
modified_date_df = date_df.get_group(date)
modified_date_df.set_index('location', inplace=True)
modified_date_df[inquiry].apply(lambda x: (x/modified_date_df.loc["World", inquiry]))#[country]

# %matplotlib inline
# a.plot()

location
Afghanistan       0.006298
Albania           0.000139
Algeria           0.001176
Andorra           0.000000
Angola            0.000019
                    ...
Western Sahara    0.000000
Yemen             0.000120
Zambia            0.000000
Zimbabwe          0.000037
World             1.000000
Name: new_cases, Length: 211, dtype: float64

In [328]:
#  FINDING PERCENTAGE OF COUNRTY DEATHS IN A DATE RANGE
filt = (covid['date'] >= pd.to_datetime('2020-03-10')) & (covid['date'] < pd.to_datetime('2020-06-01'))
modified_covid = covid[filt]
location_modified_covid = modified_covid.groupby('location')
country = 'Afghanistan'
inquiry = 'new_cases'
country_cases = location_modified_covid.get_group(country)[inquiry].sum()
world_cases = location_modified_covid.get_group("World")[inquiry].sum()

country_cases/world_cases

0.002453827868393984

In [338]:
min = base['age'].min()
max = base['age'].max()
min, max

(10798, 23713)

In [ ]:
spearman_corr = base.corr(method='spearman')
spearman_corr

In [462]:

filt4 = covid['hospital_beds_per_thousand'] >= 5
covid[filt]

C:\Users\BenjaminAtadana\AppData\Local\Temp\ipykernel_12024\933179182.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  covid[filt]

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5
8,Afghanistan,2020-01-08,0,0,38928341.0,2.581,1803.987,0.5
9,Afghanistan,2020-01-09,0,0,38928341.0,2.581,1803.987,0.5
...,...,...,...,...,...,...,...,...
23065,International,2020-02-16,134,0,NaN,NaN,NaN,NaN
23067,International,2020-02-18,99,0,NaN,NaN,NaN,NaN
23074,International,2020-02-25,0,0,NaN,NaN,NaN,NaN
23075,International,2020-02-26,0,1,NaN,NaN,NaN,NaN
23078,International,2020-02-29,0,2,NaN,NaN,NaN,NaN

In [373]:
b = np.array()

700.0

In [371]:
covid.head()

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5
3,Afghanistan,2020-01-03,0,0,38928341.0,2.581,1803.987,0.5
4,Afghanistan,2020-01-04,0,0,38928341.0,2.581,1803.987,0.5

In [406]:
import pandas as pd

# Sample DataFrames
data1 = {'A': [1, 2, 3], 'B': [4, 5, 6]}
data2 = {'C': [7, 8], 'D': [10, 11]}
index_values = ['X', 'Y', 'Z']

df1 = pd.DataFrame(data1, index=index_values)
df2 = pd.DataFrame(data2, index=['X', 'Y'])

# Merge DataFrames based on index
merged_df = base.merge(alco, left_index=True, right_index=True, how='outer')
filt = (merged_df['age']/365) > 50 # 48572
(merged_df[filt]['alco'] == 1).value_counts()

alco
False    48572
Name: count, dtype: int64

In [435]:
mod_merged_df = merged_df.groupby(by='smoke')
mod_merged_df.get_group(0.0)['ap_hi'].mean()

128.86143096614498

In [ ]:
mean high bp non smokers = 128.86143096614498
mean high bp smpkers = 128.36051223861242

chol_smokers = 1.3895282865942615
1.3646817377136502

weigh_non_smoektrs = 73.90235152198775
77.34435078618901

hbp_women =128.1392488469141
130.07887208827134

# alco['alco'].value_counts()


"""
alco_cols = ['id', 'alco']

id col was set as the index
base_cols = ['age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo', 'cholesterol',
       'smoke']

covid_cols = ['location', 'date', 'new_cases', 'new_deaths', 'population',
       'aged_65_older_percent', 'gdp_per_capita',
       'hospital_beds_per_thousand']
"""